body{
  margin:0;
}
#sticky{
  background-color:#5528;
}
.content{
  background-color:#5028;
}
div.static {position: static;
  border: 3px solid #73AD21;}
div#sticky{positon: sticky;
  border: 3px solid #73AD21;} 
