body{
  margin:0;
}
#sticky{
  background-color:#5528;
}
.content{
  background-color:#7fff00;
}
div.static {position: static;
  border: 3px solid #73AD21;}
div#sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}
